<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign education = data[1] | sort: 'startDate' | reverse %}

  {% for content in education %}
    <li class="list-group-item">
      <div class="row">

        <!-- LEFT COLUMN -->
        <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
          {% assign start = content.startDate %}
          {% assign end = content.endDate | default: 'Present' %}
          <span class="badge font-weight-bold danger-color-dark text-uppercase">
            {{ start }} - {{ end }}
          </span>

          {% if content.location %}
            <p class="location mt-1">
              <i class="fa-solid fa-location-dot"></i> {{ content.location }}
            </p>
          {% endif %}

          {% if content.logo %}
            <img
              src="{{ content.logo | prepend: '/assets/img/education/' | relative_url }}"
              alt="{{ content.institution }}"
              style="max-width: 60px; max-height: 60px;"
            >
          {% endif %}
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-xs-10 col-sm-10 col-md-10">

          <!-- Degree -->
          <h6 class="title font-weight-bold text-primary">
            {{ content.studyType }}
          </h6>

          <!-- Major ABOVE university -->
          {% if content.area %}
            <h6 class="font-italic">
              {{ content.area }}
            </h6>
          {% endif %}

          <!-- University -->
          <h6>
            <a href="{{ content.url }}" target="_blank">
              {{ content.institution }}
            </a>
          </h6>

          <!-- Dissertation -->
          {% if content.dissertation %}
            <ul class="font-italic">
              <li><strong>PhD Dissertation:</strong> {{ content.dissertation }}</li>
            </ul>
          {% endif %}

          <!-- Advisor -->
          {% if content.advisor %}
            <ul>
              <li><strong>Advisor:</strong> {{ content.advisor }}</li>
            </ul>
          {% endif %}


        </div>
      </div>
    </li>
  {% endfor %}
</ul>
